<!DOCTYPE html>

<html>
    <head>
        
        <title>Book List</title>
        
        
    </head>
    <body>
      <h1>Book List</h1>
      <a href="/books/new">Add New Book</a>
      <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publishrd Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(function(book) { %>
                <tr>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td><%= new Date(book.publishedDate).toLocaleDateString() %></td>
                    <td>
                        <a href="/books/<%= book._id %>/edit">Edit</a>
                        <form action="/books/<%= book._id %>?_method=DELETE" method="POST" style="display: inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
      </table>
    </body>
</html>